<div class="container-fluid site-wrapper">
    <!-- this is the Sheet -->
    <div class="container-fluid header-wrapper " id="header">
        <!-- this is the Header Wrapper -->
        <div class="container">
            <div class="title-wrapper">
                <div class="title-wrapper-inner">
                    <div class="title ">
                        Blogging About My Life
                    </div>
                    <div class="subtitle">
                        Welcome to my blog
                    </div>
                </div>
            </div>
            <!-- these are the titles -->
            <div class="navbar navbar-compact">
                <div class="navbar-inner">
                    <div class="container">
                        <!-- Everything you want hidden at 940px or less, place within here -->
                        <div class="nav-collapse">
                            <ul class="nav" id="topMenu" data-submenu="horizontal">
                                <li class="active">
                                    <a href="/">Home | </a>
                                    <a href="/myblog" *ngIf="isLogin">My Blog | </a>
                                    <a href="/login" *ngIf="!isLogin">Login | </a>
                                    <a href="/new">News</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- this is the Menu content -->
        </div>
    </div>

    <div class="container-fluid content-wrapper" id="content">
        <!-- this is the Content Wrapper -->
        <div class="container">
            <div class="row-fluid content-inner">
                <div id="left" class="span9">
                    <!-- ADD "span12" if no sidebar, or "span9" with sidebar -->
                    <div class="wrapper blog">
                        <div class="content">
                            <div class="section" *ngIf="post.type == 'BLOG'">
                                <div class="content">
                                    <div class="avatar">
                                        <i class="fa fa-pencil" title="Essential skills for a happy life!" style="font-size: 40px"></i>
                                    </div>
                                    <div class="item">
                                        <div class="controls">
                                            <span class="date-text">{{post.createdDate}}</span>
                                        </div>
                                        <div class="heading">
                                            <h4>{{post.title}}</h4>
                                        </div>

                                        <div class="content">
                                            <div class="img-simple span6 pull-left">
                                                <div class="image">
                                                    <img src="{{post.image}}">
                                                </div>
                                            </div>
                                            <p>{{post.content}}</p>
                                            <span>{{post.user.fullName}}</span>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="section" *ngIf="post.type == 'SLOGAN'">
                                <div class="content">
                                    <div class="avatar">
                                        <i class="fa fa-quote-left" title="You&#39;ve gotta dance" style="font-size: 40px"></i>
                                    </div>
                                    <div class="item">
                                        <div class="controls">
                                            <span class="date-text">{{post.createdDate}}</span>
                                        </div>
                                        <div class="heading">
                                            <h4>{{post.title}}</h4>
                                        </div>
                                        <div class="content">
                                            <blockquote class="pull-right">
                                                <p>“{{post.content}}”</p>
                                                <small>{{post.source}}</small>
                                            </blockquote>
                                            <span>{{post.user.fullName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section" *ngIf="post.type == 'PHOTO'">
                                <div class="content">
                                    <div class="avatar">
                                        <i class="fa fa-camera-retro" title="Photo" style="font-size: 40px"></i>
                                    </div>
                                    <div class="item">
                                        <div class="controls">
                                            <span class="date-text">{{post.createdDate}}</span>
                                        </div>
                                        <div class="heading">
                                            <h4>{{post.title}}</h4>
                                        </div>

                                        <div class="content">
                                            <div class="img-simple  ">
                                                <div class="image">
                                                    <img src="{{post.image}}">
                                                </div>
                                            </div>
                                            <span>{{post.user.fullName}}</span>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div id="right" class="span3">
                    <div class="sidebar">
                        <div class="wrapper share-box">
                            <style>
                                .wordwrapfix {
                                    word-wrap: break-word;
                                }
                            </style>
                            <div class="heading wordwrapfix">
                                <h5>Share this page</h5>
                            </div>

                            <div class="content"><span>
                                <ul>
                                <li><i class="fa fa-facebook"></i><span>Share on Facebook</span></li>
                                <li><i class="fa fa-twitter"></i><span>Share on Twitter</span></li>
                                <li><i class="fa fa-google"></i><span>Share on Google+</span></li>
                                </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-wrapper" id="footer">
        <div class="container">
            <div class="footer-page-counter" style="display: block;">
                <span class="footer-page-counter-item">0</span>
                <span class="footer-page-counter-item">0</span>
                <span class="footer-page-counter-item">6</span>
                <span class="footer-page-counter-item">7</span>
                <span class="footer-page-counter-item">6</span>
                <span class="footer-page-counter-item">0</span>
            </div>
        </div>
    </div>
</div>