<div class="container-fluid site-wrapper">
    <!-- this is the Sheet -->
    <div class="container-fluid header-wrapper " id="header">
        <!-- this is the Header Wrapper -->
        <div class="container">
            <div class="title-wrapper">
                <div class="title-wrapper-inner">
                    <div class="title ">
                        Blogging About My Life
                    </div>
                    <div class="subtitle">
                        Welcome to my blog
                    </div>
                </div>
            </div>
            <!-- these are the titles -->
            <div class="navbar navbar-compact">
                <div class="navbar-inner">
                    <div class="container">
                        <!-- Everything you want hidden at 940px or less, place within here -->
                        <div class="nav-collapse">
                            <ul class="nav" id="topMenu" data-submenu="horizontal">
                                <li class="active">
                                    <a href="/user" *ngIf="isLogin">My Blog</a>
                                    <a href="/login" *ngIf="!isLogin">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- this is the Menu content -->
        </div>
    </div>

    <div class="container-fluid content-wrapper" id="content">
        <!-- this is the Content Wrapper -->
        <div class="container">
            <div class="row-fluid content-inner">
                <div id="left" class="span9">
                    <!-- ADD "span12" if no sidebar, or "span9" with sidebar -->
                    <div class="wrapper blog">
                        <div class="content">
                            <div class="section">
                                <div class="content">
                                    <div class="avatar">
                                        <i class="fa fa-pencil" title="Essential skills for a happy life!" style="font-size: 40px"></i>
                                    </div>
                                    <div class="item">
                                        <div class="controls">
                                            <span class="date-text">16-11-2015</span>
                                        </div>
                                        <div class="heading">
                                            <h4>Essential skills for a happy life!</h4>
                                        </div>

                                        <div class="content">
                                            <div class="img-simple span6 pull-left">
                                                <div class="image">
                                                    <img src="/assets/tmp1.jpg">
                                                </div>
                                            </div>

                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                                suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                            <p>At eam doctus oportere, eam feugait delectus ne. Quo cu vulputate persecuti. Eum ut natum possim comprehensam, habeo dicta scaevola eu nec. Ea adhuc reformidans eam. Pri dolore epicuri eu, ne cum tantas fierent
                                                instructior. Pro ridens intellegam ut, sea at graecis scriptorem eloquentiam.</p>
                                            <p>Per an labitur lucilius ullamcorper, esse erat ponderum ad vim. Possim laoreet suscipit ex pri, vix numquam eruditi feugait in. Nec maluisset complectitur te, at sea decore semper. Falli numquam perpetua sea
                                                et, tibique repudiandae an pro. Ut his solum persius postulant. Soluta nemore debitis ne eos, cum an scripta pericula partiendo.</p>
                                            <span>Nguyen Van Hai</span>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div id="right" class="span3">
                    <div class="sidebar">
                        <div class="wrapper share-box">
                            <style>
                                .wordwrapfix {
                                    word-wrap: break-word;
                                }
                            </style>
                            <div class="heading wordwrapfix">
                                <h5>Share this page</h5>
                            </div>

                            <div class="content"><span>
                                <ul>
                                <li><i class="fa fa-facebook"></i><span>Share on Facebook</span></li>
                                <li><i class="fa fa-twitter"></i><span>Share on Twitter</span></li>
                                <li><i class="fa fa-google"></i><span>Share on Google+</span></li>
                                </ul>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-wrapper" id="footer">
        <div class="container">
            <div class="footer-page-counter" style="display: block;">
                <span class="footer-page-counter-item">0</span>
                <span class="footer-page-counter-item">0</span>
                <span class="footer-page-counter-item">6</span>
                <span class="footer-page-counter-item">7</span>
                <span class="footer-page-counter-item">6</span>
                <span class="footer-page-counter-item">0</span>
            </div>
        </div>
    </div>
</div>