<div class="login-form">
    <h2 class="text-center">Sign in</h2>
    <div class="text-center social-btn">
        <a class="btn btn-danger btn-block" (click)="signInWithGoogle()"><i class="fa fa-google"></i> Sign in
            with <b>Google</b></a>
        <a class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a>
        <a class="btn btn-info btn-block"><i class="fa fa-twitter"></i> Sign in with <b>Twitter</b></a>
    </div>
    <div class="or-seperator"></div>
</div>