<div class="container">

    <div class="row">

        <div class="col-xl-8 offset-xl-2 py-5 content">
            <form>

                <div class="messages"></div>

                <div class="controls">
                    <div class="row">
                        <div class="col-md-6" id="div-title">
                            <div class="form-group">
                                <label for="title">Title *</label>
                                <input id="title" type="text" name="title" class="form-control" placeholder="Please enter your title *" data-error="Valid title is required.">

                            </div>
                        </div>
                    </div>
                    <div class="row" id="div-image">
                        <div class="col-md-12">
                            <div class="upload-btn-wrapper">
                                <button class="btn btnUpload">Upload image</button>
                                <input type="file" name="myfile" id="fileInput" accept="image/*" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>