<app-nav></app-nav>
<app-menu></app-menu>
<div class="container">

    <div class="row">
        <div class="loader" id="loader"></div>
        <div class="col-xl-8 offset-xl-2 py-5 content" id="content-div">
            <form>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_need">Please choice type *</label>
                                <select id="form_need" name="need" class="form-control" data-error="Please specify your need." (change)="choiceType($event)"> 
                                    <option *ngFor="let type of types" value="{{type}}">{{type}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <router-outlet></router-outlet>
                    <div class="col-md-12">
                        <input type="button" class="btn btn-success btn-send" value=" Send " (click)="onSubmit()" id="btnSubmit">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted">
                                <strong>*</strong> These fields are required.
                        </div>
                    </div>
                </div>

            </form>

        </div>
        <!-- /.8 -->

    </div>
    <!-- /.row-->

</div>