<app-nav></app-nav>
<app-menu></app-menu>
<div class="col-md-8 div-content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Title</th>
                <th>Status</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of postList">
                <td>{{post.id}}</td>
                <td>{{post.type}}</td>
                <td>{{post.title}}</td>
                <td>{{post.status}}</td>
                <td>
                    <button class="btn btn-danger" (click)="delete(post.id)">Delete</button>&nbsp;&nbsp;
                    <button class="btn btn-success" *ngIf="post.status == 'APPROVE'" (click)="view(post.id)">View</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="paging">
        <a class="prenext round" (click)="changePage(-1)">&#8249;</a>&nbsp;&nbsp;&nbsp;<a class="prenext round" (click)="changePage(1)">&#8250;</a>
    </div>
</div>